require 'byebug'
<!DOCTYPE html>

    <head>
        
        <title>coding</title>
        
    </head>
    <body>
       
    <p> The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p>        
       
    </body>
</html>